.sheetreview__container {
  text-align: center;
  position: relative;
}

.sheetreview__button {
  position: absolute;
  left: 0;
}

/* @media screen and (min-width: 1100px) {
  .sheetreview__container h2 {
    font-size: 14px;
  }
} */
