.mt {
  margin-top: 3em;
}
.app__container {
  font-size: 16px;
}

.button {
  cursor: pointer;
  padding: 1em;
  background: #ff6565;
  color: #fff;
  border: 1px solid #ff6565;
  border-radius: 5px;
  -webkit-transition: ease-in-out 250ms;
  transition: ease-in-out 250ms;
}

.button:hover {
  background: #fff;
  color: #ff6565;
  border: 1px solid #ff6565;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

button:disabled,
button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.whitespace-nw {
  white-space: nowrap;
}

@media screen and (max-width: 1100px) {
  .app__container {
    font-size: 12px;
  }
}
