.questioncreate__container {
  margin: auto;
  max-width: 500px;
  text-align: center;
}

.questioncreate__container h2 {
  margin-top: 2em;
}

.questioncreate__input {
  margin: 1em 0;
}

.questioncreate__continue {
  margin: 1em auto;
}

@media screen and (max-width: 1100px) {
  .questioncreate__container {
    font-size: 12px;
  }

  .questioncreate__container form {
    max-width: 400px;
    margin: auto;
  }
}
