.button {
  cursor: pointer;
  width: 8rem;
  padding: 1em;
  background: #ff6565;
  color: #fff;
  border: 1px solid #ff6565;
  border-radius: 5px;
  -webkit-transition: ease-in-out 250ms;
  transition: ease-in-out 250ms;
}

.button:hover {
  background: #fff;
  color: #ff6565;
  border: 1px solid #ff6565;
}

.questioncreate__container {
  margin: auto;
  max-width: 500px;
  text-align: center;
}

.questioncreate__input {
  margin: 1em 0;
}

.questioncreate__continue {
  margin: 1em auto;
}
