.sheetpreview__container {
  margin: 2em auto;
  border: 1px solid rgba(129, 129, 129, 0.541);
  border-radius: 5px;
  position: relative;
  max-width: 450px;
}

.sheetpreview__list {
  margin: 1em 2em 5em 2em;
}

.sheet {
  height: 55vh;
  width: 45vw;
}

.sheetpreview__watermark {
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 1em;
}
